node_modules/
.pnp
.pnp.js

.env
.env.*
!.env.example

dist/
build/
out/

/src/generated/prisma

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
*.pid
*.seed
*.pid.lock

coverage/
.nyc_output/
*.lcov

.vscode/
.idea/
*.swp
*.swo

.cache/
tmp/
temp/